html, body {
    overflow: hidden;
}

/* We're using the body as basically a div#container to center all the things. */
main {
    height: auto;
    width: 750px;

    /* This is the "official" way to center things http://www.w3.org/Style/Examples/007/center.en.html#vertical */
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

h1 {
    font-size: 35px;
    font-weight: 300;
    margin: 0 auto;
}

#cogs {
    height: 120px;
    margin: 25px auto;
}

#logo {
    height: 100px;
    margin-top: 25px;
}

p {
    margin: 5px auto;
}

#projects-link, #contact-link {
    text-decoration: none;
}
    #projects-link {
        color: #45c663;
    }
    #contact-link {
        color: #4ca5ff;
    }