html, body {
    overflow: hidden;
}

main {
    text-align: center;
}

#logo {
    height: 150px;
}

main > h1:first-child {
    font-weight: 400;
}

#faces {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
}
    #faces div {
        width: 300px;
    }
    #faces div img {
        width: 150px;
        border-radius: 150px;
    }
    #faces div h2 {
        font-size: 20px;
        font-weight: 400;
    }
    #faces div h1 {
        font-size: 25px;
        font-weight: 900;
    }

p {
    width: 800px;
    text-align: left;
    margin: 30px auto 0;
}

@media all and (max-width:750px) {
    body {
        width: 100%;
        position: relative;
    }

    #logo {
        width: 80%;
        height: auto;
    }

    h2 {
        font-size: 20px;
    }
}