html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #1f1f1f;
    color: #fff;

    font-family: "Open Sans", sans-serif;
    text-align: center;

    overflow-x: hidden;
}

#logo {
    margin-top: 50px;
    height: 150px;
}

h2 {
    margin-top: 30px;

    font-size: 25px;
    font-weight: 300;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0;

    font-size: 23px;
    font-weight: 300;
}

ul {
    padding: 0;
    margin-top: 10px;
}
    ul li {
        list-style-type: none;
    }
    ul li + li {
        margin-top: 10px;
    }
    ul li a {
        font-size: 20px;
        color: #2f7ad3;
        text-decoration: none;
        border-bottom: 1px dotted currentColor;
    }
        main ul li a:hover {
            border-bottom-style: solid;
        }

h3, #project-list {
    font-size: 28px;
    color: #fff;
}

#project-list li a { 
    font-size: 16px;
    color: #fff;
    border-bottom: 1px dotted currentColor;
}

#people-list {
    margin-top: 10px;
    position: relative;
}
    #people-list li {
        display: inline-block;
        margin: 0;
    }
    #people-list li + li::before {
        content: "";
        margin: 0 22px;
        cursor: default;
    }

@media all and (max-width:750px) {
    body {s
        width: 100%;
        position: relative;
    }

    #logo {
        width: 80%;
        height: auto;
    }

    h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 575px) {
    #people-list {
        left: 0;
    }
}

@media all and (max-width: 385px) {
    #people-list li {
        display: block;
        margin: 0;
    }
    #people-list li + li::before {
        content: "";
        margin: 0;
    }
}