#hamburger {
    position: absolute;
    left: 30px;
    top: 30px;
    height: 30px;
    cursor: pointer;
}

nav {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    background-color: #fff;
    text-align: left;
}
    nav #nav-logo {
        width: 50%;
        margin: 30px;
    }
    nav ul {
        list-style-type: none;
        color: #1f1f1f;
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
    }
        nav ul li {
            padding-left: 30px;
            font-size: 20px;
            border-left: 5px solid #000;
            cursor: pointer;
            height: 70px;
            line-height: 70px;
        }
            nav ul li:hover {
                border-left-width: 10px;
                padding-left: 25px; /* Decrease the padding by 5 to keep the text in the same place. */
            }
            nav ul li a {
                text-decoration: none;
                color: currentColor;
                display: block;
                width: 100%;
                height: 100%;
            }
        
    nav ul#people li#matthew { border-left-color: #4a9ff4; }
    nav ul#people li#adhiv { border-left-color: #e86565; }
    nav ul#people li#will { border-left-color: #4fec74; }

#hamburger, nav, main {
    margin-left: 0;
    transition: all .2s linear;
}

body.nav-opened #hamburger {
    margin-left: 300px;
}

body.nav-opened nav {
    left: 0;
}

body.nav-opened main {
    margin-left: 300px;
}

/* The "stuck out J" effect */
#projects-text {
    width: auto;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-top: 50px;
}
    #projects-text h1 {
        font-size: 35px;
        font-weight: 300;
        display: inline;
    }
    #projects-text #underline-1,
    #projects-text #underline-2 {
        background-color: #fff;
        height: 1px;
        margin-top: -3px;
        position: absolute;
        bottom: 10px;
    }
        #projects-text #underline-1 {
            left: 2px;
            width: 45px;
        }
        #projects-text #underline-2 {
            right: 0;
            width: 60px;
        }

h2 {
    font-size: 20px;
    font-weight: 300;
}

#projects {
    width: 600px;
    height: 600px;
    margin: 50px auto;
}
    #projects section {
        float: left;
        width: 300px;
        height: 300px;
        position: relative;
        cursor: pointer;
    }
        #projects section img {
            width: 25%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #projects section .info {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background-color: transparent;
            display: block;
            opacity: 0;

            transition: all 0.15s linear;

            cursor: auto;
        }
            #projects section:hover .info {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.7);
            }

            #projects section .info h1 {
                text-align: left;
                width: 80%;
                margin: 0 auto;
                border-bottom: 1px solid #fff;
                margin-top: 10px;
                font-size: 27px;
                font-weight: 300;
                padding-left: 30px;
                padding-bottom: 5px;
            }
            #projects section .info p {
                width: 80%;
                margin: 25px auto;
                text-align: left;
                font-size: 15px;
            }
            #projects section .info .links {
                position: absolute;
                left: 20px;
                bottom: 20px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                height: 45px;
            }
                #projects section .info .links li {
                    float: left;
                }
                    .links .link {
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        background-size: cover;
                        margin-left: 20px;
                        margin-top: 10px;
                    }
                        .links .github.link { background-image: url('../Images/Links/github.png'); }
                            .links .github.link:hover { background-image: url('../Images/Links/github.dark.png'); }
                        .links .web.link { background-image: url('../Images/Links/web.png'); }
                            .links .web.link:hover { background-image: url('../Images/Links/web.dark.png'); }

            #projects section .info .button {
                padding: 10px;
                width: 80px;
            }

        #projects section#cyclefitness { background-color: #2f7ad3; }
        #projects section#action { background-color: #8471b1; }
        #projects section#classfinder { background-color: #1ccfaf; }
        #projects section#halcyonechoes { background-color: #fd5236; }