/* The "stuck out J" effect */
#projects-text {
    position: relative;
    display: inline-block;
    width: auto;
    
    margin-top: 50px;
}
    #projects-text h1 {
        /* Display:inlining here so it doesn't default to 100% width and instead keeps the div#projects-text to the size of the text only. */
        display: inline;

        font-size: 35px;
        font-weight: 300;
    }
    #projects-text #underline-1,
    #projects-text #underline-2 {
        position: absolute;
        bottom: 5px;

        height: 1px;

        background-color: #fff;
    }
        #projects-text #underline-1 {
            left: 2px;
            width: 45px;
        }
        #projects-text #underline-2 {
            right: 2px;
            width: 59px;
        }

h2 {
    font-size: 20px;
    font-weight: 300;
}

#projects {
    height: 600px;
    width: 600px;

    margin: 50px auto;
}
    #projects section {
        position: relative;
        height: 300px;
        width: 300px;

        float: left;

        cursor: pointer;
    }
        #projects section img {
            position: absolute;

            width: 25%;

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
        }
        #projects section .info {
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            background-color: transparent;
            
            opacity: 0;

            cursor: auto;

            transition: all 0.15s linear;
        }
            #projects section:hover .info {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.7);
            }

            #projects section .info h1 {
                width: 80%;
                margin: 10px auto 0;
                padding: 0 0 5px 30px;
                
                text-align: left;

                font-size: 27px;
                font-weight: 300;

                border-bottom: 1px solid #fff;
            }
            #projects section .info p {
                width: 80%;
                margin: 25px auto;

                text-align: left;

                font-size: 15px;
            }
            #projects section .info .links {
                position: absolute;
                bottom: 20px;
                left: 20px;
                
                height: 45px;
                margin: 0;
                padding: 0;

                list-style-type: none;
            }
                #projects section .info .links li {
                    float: left;
                }
                    .links .link {
                        display: inline-block;
                        height: 25px;
                        width: 25px;

                        margin: 10px 0 0 20px;

                        background-size: cover;
                    }
                        .links .github.link { background-image: url('../Images/Links/github.png'); }
                            .links .github.link:hover { background-image: url('../Images/Links/github.dark.png'); }
                        .links .web.link { background-image: url('../Images/Links/web.png'); }
                            .links .web.link:hover { background-image: url('../Images/Links/web.dark.png'); }

            #projects section .info .button {
                width: 80px;
                padding: 10px;
            }

        #projects section#cyclefitness { background-color: #2f7ad3; }
        #projects section#action { background-color: #8471b1; }
        #projects section#classfinder { background-color: #1ccfaf; }
        #projects section#halcyonechoes { background-color: #fd5236; }