@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #1f1f1f;
    color: #fff;

    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.button,
button {
    display: block;
    height: auto;
    width: auto;

    padding: 15px;
    
    background-color: transparent;
    color: #fff;

    border: 1px solid #fff;

    text-decoration: none;

    transition: all 0.1s linear;
}
    .button:hover,
    button:hover {
        background-color: #fff;
        color: #1f1f1f;
    }